<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReportServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:43000/Report" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReportServer" contract="ReportService.IReportServer"
                name="BasicHttpBinding_IReportServer" />
        </client>
    </system.serviceModel>
</configuration>